@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Gemunu Libre', sans-serif;
  list-style: none;
}

:root {
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --slate-950: #020617;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  ---new-book-button: rgb(122, 204, 122); 
}

body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr minmax(600px, 1000px) 1fr ;
  grid-template-rows: 60px 1fr 30px;
  background-color: var(--slate-300);
}

.header-container {
  display: flex;
  grid-column: 1 / -1;
  justify-content: center;
  background-color: var(--slate-950);
}

.header {
  flex: 1;
  max-width: 1000px;
  color: var(--slate-200);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 35px;
}

.header-container .logo {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  gap: 12px;
}

.logo img {
  height: 30px;
  -webkit-filter: invert(96%) sepia(2%) saturate(1390%) hue-rotate(183deg) brightness(98%) contrast(92%); /* safari 6.0 - 9.0 */
  filter: invert(96%) sepia(2%) saturate(1390%) hue-rotate(183deg) brightness(98%) contrast(92%);
}

.header-container button {
  width: 60px;
  height: 25px; 
  background-color: var(--slate-200);
  border-style: none;
  border-radius: 2px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.1s;
}

.header-container button:hover {
  background-color: var(--slate-300);
}

.header-container button:active {
  background-color: var(--slate-400);
  border: solid 1px var(--slate-950);
}

/* Main area */

.main-container {
  background-color: var(--slate-200);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 300px;
  padding: 50px;
}

.book-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 120px));
  grid-auto-rows: 200px;
  gap: 30px;
}

.book {
  background-color: var(--slate-800);
  color: var(--slate-200);
  height: 170px;
  display: flex;
  border-radius: 7px;
}

.book .line {
  width: 5px;
  background-color: var(--slate-200);
  margin-left: 10px;
}

.book-info {
  padding: 13px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-info p {
  font-size: 0.8rem;
}

.book-item .book-pages {
  text-align: center;
  color: var(--slate-800);
  margin-top: 5px;
}

/* Side Panel */

.side-panel-container {
  background-color: var(--slate-300);
  grid-template-columns: 2 / -1;
  border: solid 50px var(--slate-200);
  border-right: 20px;
  padding: 25px;
  display: grid;
  grid-template-rows: 1fr 50px;
  height: 330px;
}

.side-panel-container button {
  grid-row: 2 / -1;
  border-style: none;
  font-size: 1.3rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(---new-book-button);
  transform: 0.3s;
}

.side-panel-container button:hover {
  border: solid 2px rgb(110, 184, 110);
}

.side-panel-container button:active {
  background-color: rgb(110, 184, 110);
  border: solid 2px rgb(110, 184, 110);
}

.statistics-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Form popup */

.new-book-form.show{
  display: none;
}

.new-book-form {
  display: block;
  z-index: 10;
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.new-book-form .popup-container {
  width: 400px;
  margin: 10vh auto auto auto;
  background-color: var(--slate-200);
  border-radius: 5px;
  padding: 10px 30px;
  padding-bottom: 30px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new-book-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 10px;
}

.new-book-info input:nth-child(7){
  width: 60px;
}

.popup-container fieldset{
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 4px;
}

.popup-container label {
  font-size: 1.1rem;
}

.popup-container input {
  height: 30px;
  font-size: 1.3rem;
  padding-left: 5px;
  padding-right: 5px;
}

.popup-container input.red {
  outline: 2px solid red;
}

button.close-popup {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px black;
  font-size: 0.7rem;
  position: relative;
  left: 355px;
  bottom: 15px;
  cursor: pointer;
}

button.submit-new-book {
  margin-top: 30px;
  height: 50px;
  border: none;
  background-color: var(---new-book-button);
  font-size: 1.9rem;
  font-weight: 800;
  color: white;
  cursor: pointer;
  transition: 0.1s;
}

button.submit-new-book:hover {
  background-color: rgb(149, 216, 149);
}

button.submit-new-book:active {
  background-color: rgb(77, 187, 77);
}

.popup-container fieldset div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-validation {
  display: none;
}

.form-validation.form-validation-show{
  display: block;
  color: rgb(199, 0, 0);
  margin-top: 15px;
}



/* Footer */

.footer-container {
  background-color: var(--slate-950);
  grid-row: 3 / -1;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  color: var(--slate-200);
  font-size: 1rem;
}

.footer-container a {
  text-decoration: none;
  color: var(--slate-200);
}

.footer-container img {
  height: 15px;
}